{% extends 'base.html' %}

{%block head%}
<title>Sign Up Now!</title>
{%endblock%}

{%block body%}
<div style="text-align: center;">
    <h1>Please fill the form</h1>
    <form>
        <label for="email">Email:</label><br>
        <input type="text"><br>
        <label for="username">Username:</label><br>
        <input type="text"><br>
        <label for="password">Password:</label><br>
        <input type="text"><br>
        <input type="submit" value="submit" class="button"><br>
    </form>
</div>
{%endblock%}